<!--ul class="nav nav-pills nav-stacked"-->
			<a><b><h4><%= name %> : <%=Description%> <br><br>
			    <div id="row" >
					<div class="container">
						<div class="span12">
							<div class="span3 ">
								<div class="span1 ">
									<center><label>Title:</label></center>
								</div>
								<div class="span2">
									<input id="name <%=id%>" class="span2" type="text" value="<%= name %>"/>
								</div>
							</div>
							<div class="span3 ">
								<div class="span1">
									<center><label>Description:</label></center>
								</div>
								<div class="span2">
									<input id="description <%=id%>" class="span2" type="text" value="<%=Description%>"/>
								</div>
							</div>
							<div class="span3 offset2">
								<button id="save" class="btn btn-inverse btn-block"><i class="icon-edit icon-white"></i> Edit Notes</button> 
								<button id="save" class="btn btn-inverse btn-block"><i class="icon-folder-open icon-white"></i> Save</button> 
								<button id="delete" class="btn btn-inverse btn-block"><i class="icon-trash icon-white"></i> Delete</button>
							</div>

							
						</div>
					</div>
			
				</h4></b>
			</a>
<!--/ul-->